body{
  background-color: lightgray;
}
h1{
  margin: 50px 0;
  text-align: center;
}

#button-row{
  padding: 20px;
  margin: 20px;
}

#add-form{
  margin: 15px 20px 10px 20px;
}
#game-input{
  margin-bottom: 12px;
}
.game-btn{
  width: 150px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgb(77, 209, 77);
}
#clearFav{
  border-radius: 4px;
  font-size: 13px;
  margin-left: 85px;
}

div1{
	display: inline-block;
	margin: 10px;
}

#favBtn{
  font-size: 10px;
  margin-left: 10px;
}
#miniGif{
  margin: 1px;
}
